@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    background-color: #F5F9FC;
    color: #0F172A;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Custom Hide Scrollbar Utility */
@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
